Flask==2.0.1
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.31
PyMySQL==1.0.2
Werkzeug==2.2.2
appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
brotlipy==0.7.0
constantly==15.1.0
cssselect==1.1.0
emoji==2.10.1
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Login==0.6.3
Flask-SQLAlchemy==2.5.1
fonttools==4.25.0
inflection==0.5.1
jsonpointer==2.1
openpyxl==3.0.10
pep8==1.7.1
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
PyMySQL==1.0.2
PyQt5==5.15.7
PyQtWebEngine==5.15.4
python-lsp-jsonrpc==1.0.0
SQLAlchemy==1.4.31
webencodings==0.5.1
Werkzeug==2.2.2
Flask-WTF