<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar Usuario</title>
</head>
<body>
    <h1>Agregar Usuario</h1>
    <form action="{{ url_for('auth.add') }}" method="post">

        <label for="nameUser">Nombre del Usuario:</label>
        <input type="text" id="nameUser" name="nameUser" required>

        <label for="passwordUser">Contraseña:</label>
        <input type="password" id="passwordUser" name="passwordUser" required>

        <button type="submit">Agregar Usuario</button>
        <a href="{{ url_for('auth.login') }}" id="enlace">Regresar</a>
    </form>
</body>
</html>