<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Agregar empleado y departamento</title>
</head>
<body>
    <h1>Agregar empleado y departamento</h1>
    <form action="{{ url_for('departmentsEmployees.add') }}" method="post">
        <label for="empleado">Empleados:</label>

        <select id="employee" name="idEmployee">
            {% for employee in data_employee %}
                <option value="{{ employee.idEmployee }}">{{ employee.nameEmployee }}</option>
            {% endfor %}
        </select>

        <select id="departamento" name="idDepartment">
            {% for department in data_department %}
                <option value="{{ department.idDepartment }}">{{ department.nameDepartment }}</option>
            {% endfor %}
        </select>

        <button type="submit">Agregar relacion Empleado y Departamento</button>


        <a href="{{ url_for('departmentsEmployees.index') }}" id="enlace">Regresar</a>
        
    </form>
</body>
</html>